#SplideSlide{
    // background-color:red;
    height:270px;
    width:50px;
    border-radius:25px;
    cursor:pointer;
}

.splide__arrow--next {
    right: 1em;
    margin-right: -100px;
}
.splide__arrow {
    margin-right: -100px;
}