#Part2{
    height: 500px;
    // border: 1px solid green;
    margin: 100px auto;
    transition: height 0.3s;
}
#Part2>div:nth-child(1){
    // background-color: cornflowerblue;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s;
}
#Part2>div:nth-child(2){
    height: 85%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    // background-color: rgb(250, 154, 170);
    gap:40px;
    align-items: center;
    transition: width 0.3s,gap 0.3s;

}
.card{
    // width: 30%;
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    border-radius: 20px;
}
.card>h4{
    margin-top: 50px;
    transition: margin 0.3s;
}
.card>p{
    margin: 30px;
    text-align: start;
}

@media screen and (max-width:1300px) {
    #Part2>div:nth-child(2){
        width: 75%;
    }
}
@media screen and (max-width:1200px) {
    #Part2>div:nth-child(2){
        width: 85%;
    }
}
@media screen and (max-width:1050px) {
    #Part2>div:nth-child(2){
        gap: 20px;
        width: 90%;
    }
}
@media screen and (max-width:950px) {
    .card>h4{
        margin-top: 30px;
    }
    #Part2>div:nth-child(1){
        width: 80%;
        margin: auto;
        height: 20%;
    }
}
@media screen and (max-width:900px) {
    #Part2>div:nth-child(2){
        height: 80%;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    #Part2{
        height: 750px;
    }
    .card{
        height: 100%;
    }
    #Part2>div:nth-child(2){
        padding: 0px 30px;
    }
}
@media screen and (max-width:780px) {
    #Part2{
        height: 850px;
    }
}
@media screen and (max-width:700px) {
    #Part2>div:nth-child(2){
        grid-template-columns: repeat(1,1fr);
    }
    #Part2{
        height: 850px;
    }
}
@media screen and (max-width:660px) {
    #Part2{
        height: 950px;
    }
}
@media screen and (max-width:510px) {
    #Part2{
        height: 1050px;
    }
}
@media screen and (max-width:440px) {
    #Part2{
        height: 1150px;
    }
}